<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kros.KORM" version="3.4.0" targetFramework="net461" />
  <package id="Kros.KORM.MsAccess" version="1.5.0" targetFramework="net461" />
  <package id="Kros.Utils" version="1.4.0" targetFramework="net461" />
  <package id="Kros.Utils.MsAccess" version="1.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>